html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}
:focus {outline: 0;}

body {
  font-family : Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 20px;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  color: black;
  margin: 0 0 20px 0;
  opacity: 0.7;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  opacity: 0.6;
  margin: 0 0 20px 0;
}

.tag {
  float: left;
  width: 250px;
  height: 1000px;
}

.user-image-badge {
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -10000px;
}

.user.small {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.play {
  display: none;
}

.user.small {
  position: relative;
  height: 50px;
}

.user-info {
  position: absolute;
  left: 40px;
  top: 0;
}

.user-info div {
  font-size: 12px;
  opacity: 0.4;
}

.follow.follow-link {
  display: none;
}