.tag{:style => "left: #{200*tag.position}px"}
  .info
    %a.follow.follow-all-link{:href => "##{tag.users.map(&:sc_id).join(',')}"}
      %span.first-plus
        +
        %span Follow all
    %h2{:data => tag.permalink}= tag.name

  %ul.user-list-small
    = render :partial => 'tags/user', :collection => tag.users