
= "Add user by link to Tag '#{@tag.name}'"
- remote_form_for @tag, :url => url_for(:action => 'do_add_user_link', :id => params[:id]), :html => {:class => 'create', :method => :post, :onsubmit => 'var form = this;'}, :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')", :success => "form.innerHTML = request.responseText" do |form|

  %ol.form
    %li.form-element
      %dl
        %dt
          %label URLs
        %dd
          = form.text_area 'urls', :value => 'http://'
				


    %li.form-element
      %input{:type => 'submit', :name => 'do_create', :value => 'Add link'}

