%html{:lang => 'en'}
	%head
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>FoundCloud</title>
		= javascript_include_tag :defaults
		= active_scaffold_includes
		<script src="/javascripts/jquery.min.js"></script> 
		<script src="/javascripts/jquery.ui.min.js"></script> 
		<script src="/javascripts/jquery.cors.js"></script> 
		<script src="/javascripts/application.js"></script> 
	%body
		=yield