%html{:lang => 'en'}
	%head
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>FoundCloud</title>
		<script src="/javascripts/jquery.min.js"></script> 
		<script src="/javascripts/jquery.ui.min.js"></script> 
		<script src="/javascripts/soundmanager2-nodebug-jsmin.js"></script>
		<script src="/javascripts/jquery.cors.js"></script> 
		<script src="/javascripts/application.js"></script> 
		<link rel="stylesheet" href="/stylesheets/application.css" />
	%body
		.frame
			.content
				%h1 FoundCloud
				%p.tagline helping people on SoundCloud finding people since 2010.
				=yield